__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.git/
.github/
*.db
*.duckdb
# Local dlt state
.dlt/
# SQLMesh state
.sqlmesh/
# Test files or local data not to be included in image
local_test_data/
*.log
# IDE specific
.vscode/
.idea/
